body {
  margin: 0;
  background: rgb(1,0,15);
  background: linear-gradient(315deg, rgba(1,0,15,1) 14%, rgba(14,4,28,1) 16%, rgba(38,7,72,1) 29%, rgba(31,0,66,1) 33%, rgba(0,0,0,1) 42%, rgba(2,0,36,1) 54%, rgba(0,0,0,1) 78%, rgba(22,13,23,1) 97%, rgba(6,3,70,1) 100%, rgba(10,10,30,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.glass-form {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Apply blur */
  border-radius: 15px; /* Rounded corners */
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgb(193, 183, 183) !important; /* Ensure the placeholder text is white */
}

.wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-weight: 700;
}
.wrapper form
{
  padding: 2.5rem 3rem;
  border-radius: 15px;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  padding-right: 2.5rem; /* Space for the arrow */
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #555; /* Arrow color */
}
