body {
  margin: 0;
  /* background: linear-gradient(135deg, #1A1D28, #0D0F14); */

}



.wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-weight: 700;
}
.wrapper form
{
  padding: 2.5rem 3rem;
  border-radius: 15px;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  padding-right: 2.5rem; /* Space for the arrow */
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #555; /* Arrow color */
}
