body {
  margin: 0;

}



.wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-weight: 700;
}
.wrapper form
{
  padding: 2.5rem 3rem;
  border-radius: 15px;
}